h1{
    background-color: lightblue;
    color: white;
    text-align: center;
}

.container{
    display: flex;
}

.list-container{
    flex: 5;
}

.form-container{
    background-color: white;
    flex: 3;
}

.my-form{
    margin-bottom: 10px;
    padding: 5px;
}

.my-form label{
    /*Space next to my form class and label indicates look for a my form class followed by a label and apply styles to it*/
    display: inline-block;
    width: 90px;

}

.main-icon{
    cursor: pointer;
}